<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>Insert title here</title>
</head>
<body>
	<h1>Spuds taste good with the skins.</h1>
<img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/6/13/0/YW0301H_twice-baked-potatoes-recipe_s4x3.jpg.rend.hgtvcom.616.462.suffix/1406091903572.jpeg">
	<p>I like {{ variety }} potatoes.</p>
	<p>You should cook these at {{ temperature }} degrees.</p>

	<form action="survey">
		What kind of potato do you like? <select name="answer">
			<option>Russet</option>
			<option>Golden</option>
			<option>Sweet</option>


		</select>
		<button>Submit your answer</button>
	</form>
</body>
</html>